html{
	font-family: "Fira Sans", "Helvetica Neue", Arial, sans-serif;
}
body{
	margin-top: 0%;
	margin-left: 12%;
	margin-right: 12%;
	box-shadow: 2px 2px 20px 2px grey;
	min-height:100vh;
	padding-top: 10px;
	padding-bottom:1%;
}

.navbar-default{
	color:white !important;	
	background-color: #019cde;
	font-weight: bold !important;
}

nav h1{
	color:white !important;
}

nav .navbar-nav li a{
	color:white !important;
}

nav form a{
	color:white !important;
}

button{
	background-color: #019cde !important;
	border-color: white !important;
}

#backButton{
	background-color: #898989 !important;
	border-color: white !important;
}